name: PIRLib Actions

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          pip install --progress-bar off pytest==5.1.3 pytest-cov==3.0.0

      - name: Install PirLib
        run: pip install --progress-bar off .
        
      - name: Install example dependencies
        run: pip install -r example/requirements.txt

      - name: Test with pytest
        run: python -m pytest -s -v --cov=pirlib --cov-branch --cov-report term-missing tests
